@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  background: var(--background);
  color: var(--foreground);
      font-family: 'FONTSPRING DEMO - Balgin';
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin';
    src: url('/fonts/FONTSPRINGDEMO-BalginBold.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin Display';
    src: url('/fonts/FONTSPRINGDEMO-BalginDisplayBlackBold.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginDisplayBlackBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin Display';
    src: url('/fonts/FONTSPRINGDEMO-BalginDisplayLightRegular.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginDisplayLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin Display';
    src: url('/fonts/FONTSPRINGDEMO-BalginDisplayMediumRegular.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginDisplayMediumRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin Display';
    src: url('/fonts/FONTSPRINGDEMO-BalginDisplayRegular.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginDisplayRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin Display';
    src: url('/fonts/FONTSPRINGDEMO-BalginDisplaySemiBoldRegular.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginDisplaySemiBoldRegular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin';
    src: url('/fonts/FONTSPRINGDEMO-BalginLightRegular.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin';
    src: url('/fonts/FONTSPRINGDEMO-BalginRegular.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FONTSPRING DEMO - Balgin';
    src: url('/fonts/FONTSPRINGDEMO-BalginSemiBoldBold.woff2') format('woff2'),
        url('/fonts/FONTSPRINGDEMO-BalginSemiBoldBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Header logo color lock */
.logo a img {
    filter: none !important;
    mix-blend-mode: normal !important; 
  }